/* content, routing
------------------------*/

#menu1 .rowline
{
	background: url(../../Image/route-lines.gif) repeat-x;
	width: 100%;
}

#menu1 .column
{
	width: 165px;
	height: 125px;
	padding: 0 25px 25px 25px;
	
}
#menu1 .column.next
{
	background: url(../../Image/route-lines.gif) repeat-y;
}
#menu1 .column img
{
	border-style: none;
	width: 64px;
	height: 64px;
}
#menu1 h3 a
{
	text-decoration: none;
	color: #000;
}
#menu1 h3 a:hover
{
	color: #08c;
	text-decoration: none;
}



#menu_lvl2 .rowline
{
	background: url(../../Image/route-lines.gif) repeat-x;
	width: 100%;
}

#menu_lvl2 .column
{
	width: 185px;
}
#menu_lvl2 .column.next
{
	
}
#menu_lvl2 .column img
{
	border-style: none;
}
#menu_lvl2 h4 a
{
	text-decoration: none;
	color: #000;
}
#menu_lvl2 h4 a:hover
{
	color: #08c;
	text-decoration: none;
}
